@import url(estilotopo.css);

aside {
    display         : grid;
    grid-column     : 1;
    grid-row        : 1/3;
    width           : 250px;
    padding         : 20px;
    background-color: #131313;
    text-align      : center;
}

aside h1 {
    color         : #f0f0f0;
    padding       : 10px;
    text-transform: uppercase;
    border        : 1px solid #f0f0f0;
    font-weight   : 100;
}

aside ul {
    list-style: none;
}

aside li {
    margin-top: 25px;
}

aside a {
    font-family    : 'Roboto', sans-serif;
    color          : #f0f0f0;
    text-decoration: none;
    letter-spacing : 1px;
    padding        : 10px;
}

aside a:hover {
    border: 1px solid #f0f0f0;
}

@media screen and (max-width: 1000px) {
    aside {
        display: none;
    }
}